<nav class="navbar navbar-dark bg-dark d-flex flex-nowrap justify-content-between">
    <div class="d-flex flex-column text-light">
        <div class="d-flex align-items-start">
            <div>
                <a class="navbar-brand" href="javascript:;"><b>FermWeb<sup>v 5.0</sup></b></a>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="parent mb5">
                                <div class="child">
                                    <label for="Order" class="text-light col-form-label">Order#</label>
                                    <input class="" type="text" name="" id="Order">
                                </div>
                                <div class="child">
                                    <label for="Purification" class="text-light">Purification#</label>
                                    <input class="" type="text" name="" id="Purification">
                                </div>
                                <div class="child">
                                    <label for="dash" class="text-light">D#</label>
                                    <input class="" type="text" name="" id="dash">
                                </div>
                                <div class="child">
                                    <label for="prdc" class="text-light">PR-/DC-#</label>
                                    <input class="" type="text" name="" id="prdc">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="parent">
                                <div class="child">
                                    <label for="staticEmail" class="text-light">Ferment#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                                <div class="child">
                                    <label for="staticEmail" class="text-light">Sample#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                                <div class="child">
                                    <label for="staticEmail" class="text-light">V#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                                <div class="child">
                                    <label for="staticEmail" class="text-light">Lot#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column text-light">
        <div class="logotxt">Abbvie</div>
        <div class="userNmae">Username | <a>Signout</a></div>
    </div>
</nav>