.navbar{
    padding: 0;
    background-color: #aaaaaa !important;
    .navbar-nav{
        .nav-item{
            padding: 5px;
            .nav-link{
                color: #FFF;
                padding: 0;
                padding: 0 5px;
                font-size: 14px;
                border-left: 2px solid #fff;
            }
        }
    }
}